body {  
        margin: 0px;
        padding: 0px;
        width:100vw;
        height: 100vh;
        background-color: white;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
.element {
        width: 20px;
        height: 20px;
        background-color: #ff3e3e;
        position: absolute;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        pointer-events: none; 
      }

.slider{ 
         background-color: black;
         width: 300px;
         height: 50px;
         display: flex;
         justify-content:start;
         align-items: center;
         border-radius:28px;
}
.pointer{
        background-color: yellow;
        width:50px;
        height: 50px;
        border-style:2px solid red;
        border-radius: 50%;
}